
    fieldset {
        background: rgb(24,236,238);
  background: linear-gradient(0deg, rgba(24,236,238,1) 0%, rgba(253,187,45,1) 100%);
        width:55%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      input,select {
        border-radius: 50px;
        border: 1px solid;
        padding:5px;
        background-color:rgb(206, 165, 165);
      }
      #idProduto{
        width:50%;
        appearance: none;
        height: 5px;
        background: #d3d3d3;
      }
  
    